:root {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

#authscreen {
  background-color: antiquewhite;
  text-align: center;
  align-content: end;
  width: 75vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid 2px black;
  border-radius: 10px;
  padding: 1vh;
}

#authscreenclickblocker {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  background-color: #88888899;
  pointer-events: all;
}

.createnew {
  color: blue;
}

#chart {
  position: fixed;
  top: 0%;
  left: 0%;
}

.symbolheader {
  background-color: #00000022;
  color: white;
  position: fixed;
  top: 6vh;
}

.symboltext {
  font-family: Arial, sans-serif;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1;
}

.symbolimg {
  width: 15px;
  height: 15px;
}

.symboldetails {
  background-color: #00000022;
  color: white;
  position: fixed;
  top: 8vh;
}

.changeinpercentage {
  font-family: Arial, sans-serif;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1;
}

.changeinvalue {
  font-family: Arial, sans-serif;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1;
}

.currentvalue {
  font-family: Arial, sans-serif;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1;
}

.header {
  position: fixed;
  top: 0%;
  left: 1vw;
  display: flex;
  flex-direction: column;
}

.tradingpanel {
  position: fixed;
  top: 0%;
}

#order_buy {
  white-space: pre-line;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 6vh;
  width: 25vw;
  background-color: #3183FF;
  border: none;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

#order_sell {
  white-space: pre-line;
  position: fixed;
  top: 0%;
  right: 0%;
  height: 6vh;
  width: 25vw;
  background-color: #EA4C4C;
  border: none;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

#order_lot {
  position: fixed;
  top: 0%;
  left: 25vw;
  width: 50vw;
  height: 6vh;
  font-size: 16px;
  text-align: center;
  background-color: #111111;
  color: white;
  color: #ffffff;
  border: none;
}

#order_lot:hover, #order_lot:focus {
  outline: none;
}

canvas {
  touch-action: none;
}

.accdetaildisplay {
  pointer-events: none;
  touch-action: none;
}

#accountid {
  font-size: 16px;
}

#accountpassword {
  font-size: 16px;
}

#ordermenu {
  background-color: #222222;
  position: fixed;
  width: 50vw;
  color: #000000;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  border-radius: 3vh;
  padding: 0.75vh;
  text-align: center;
  margin-bottom: env(safe-area-inset-bottom);
}

#ordertp {
  border-radius: 10vh;
  border: dashed 1px #00ff22;
  background-color: #00000000;
  color: #00ff22;
}

#ordersl {
  border-radius: 10vh;
  border: dashed 1px #ff0011;
  background-color: #00000000;
  color: #ff0011;
}

#orderclose {
  border-radius: 10vh;
  border: dashed 1px #ffaa00;
  background-color: #00000000;
  color: #ffaa00;
}

#ordercancel {
  border: none;
  background-color: #00000000;
  color: #dddddd;
}

#ordercontinue {
  border: none;
  background-color: #00000000;
  color: #00aaff;
}

.closeall {
  position: fixed;
  top: 11vh;
  left: 0;
  color: #ff0000;
  background-color: #000000;
}

#refreshbutton {
  position: fixed;
  right: 0.1vw;
  bottom: 0.1vw;
  background-color: #00000000;
  border: none;
}

#refreshimage {
  width: 5mm;
}

.pings {
  position: fixed;
  left: 0;
  bottom: 0;
}

#pingimg {
  height: 2mm;
}

#pingtime {
  color: #ffffff;
  font-size: 2mm;
}

#changeorderconfirmation {
  pointer-events: all;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  text-align: center;
}

.modifypositiontopbar {
  text-align: left;
  border-bottom: 2px solid #888888;
  margin-bottom: 1vh;
}

#backbutton {
  background-color: #00000000;
  border: none;
  color: #00aaff;
  font-size: 2em;
}

#modifypositiontext {
  font-size: 1em;
  color: white;
}

#positiondetail {
  font-size: 0.5em;
  color: #888888;
}

#displaycurrentprice {
  color: #00aaff;
  font-family: monospace;
  font-size: 2em;
  margin-right: 1vw;
}

#displaycurrentask {
  color: #00aaff;
  font-family: monospace;
  font-size: 2em;
  margin-left: 1vw;
}

#tpinput {
  background-color: #00000000;
  border: none;
  border-bottom: 1px solid #00ff44;
  text-align: center;
  color: #ffffff;
}

#tpinput:hover, #tpinput:focus {
  outline: none;
}

#slinput {
  background-color: #00000000;
  border: none;
  border-bottom: 1px solid #ff7700;
  text-align: center;
  color: #ffffff;
}

#slinput:hover, #slinput:focus {
  outline: none;
}

#warningandinformation {
  position: fixed;
  color: white;
  bottom: 10vh;
  left: 0%;
}

#buttoncontinue {
  position: fixed;
  background-color: #00000000;
  border: none;
  font-size: 1em;
  border-top: solid 2px #888888;
  color: white;
  width: 100vw;
  height: 10vh;
  bottom: 0%;
  left: 0%;
}

.warningemblem {
  background-color: aliceblue;
  position: fixed;
  width: 60vw;
  color: #000000;
  bottom: 20vh;
  right: 0.5vw;
  transform: translateX(-50%);
  border-radius: 1vh;
  padding: 0.5vh;
  text-align: center;
}

.emblemfall {
  animation: emblem_fall 0.3s ease-out;
  animation-fill-mode: forwards;
}

.emblemback {
  animation: emblem_back 1s;
  animation-fill-mode: forwards;
}


@keyframes emblem_fall{
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes emblem_back{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
  }
}